<!DOCTYPE html>
<html>
<head>
    <title>Banana Forum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="Img/banana.ico">
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="vue/vue.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a><img href="" class="navbar-brand hover-on" src="img/bananas.png" alt="Banana" data-toggle="modal" data-target="#myModal" title="Click me Baby one more Time!"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="newQ" v-if="loggedIn"><a href="#" v-on:click="activateSite('#newQ')">neue Frage</a></li>
                    <li id="allQ" class="active"><a href="#" v-on:click="activateSite('#allQ')">alle Fragen</a></li>
                    <li id="myQ" v-if="loggedIn"><a href="#" v-on:click="activateSite('#myQ')">meine Fragen</a></li>
                    <li id="myA" v-if="loggedIn"><a href="#" v-on:click="activateSite('#myA')">meine Antworten</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="signUp" class="dropdown" v-if="!loggedIn">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           href="#"><span
                                class="glyphicon glyphicon-user"></span> Sign Up</a>
                        <ul class="dropdown-menu background-color">
                            <form>
                                <li class="form-group"><input class=""
                                                              type="text"
                                                              placeholder="Username"
                                                              id="usernameSignUp">
                                </li>
                                <li class="form-group"><input class=""
                                                              type="password"
                                                              placeholder="Password"
                                                              id="userpwdSignUp">
                                </li>
                                <li class="form-group"><input class="btn"
                                                              type="submit"
                                                              value="Sign Up!"
                                                              @click.prevent="signUp">
                                </li>
                            </form>
                        </ul>
                    </li>
                    <li id="login" class="dropdown" v-if="!loggedIn">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           href="#"><span
                                class="glyphicon glyphicon-log-in"></span> Login</a>
                        <ul class="dropdown-menu background-color">
                            <form>
                                <li class="form-group"><input class=""
                                                              type="text"
                                                              placeholder="Username"
                                                              id="username"
                                                              >
                                </li>
                                <li class="form-group"><input class=""
                                                              type="password"
                                                              placeholder="Password"
                                                              id="userpwd">
                                </li>
                                <li class="form-group"><input class="btn"
                                                              type="submit"
                                                              value="Login"
                                                              @click.prevent="login">
                                </li>
                            </form>
                        </ul>
                    </li>
                    <li id="logout" v-if="loggedIn">
                        <a href="#" @click.prevent="logout"><span
                                class="glyphicon glyphicon-log-out"></span>
                            Logout</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-lg-3"></div>
            <div class="col-sm-8 col-lg-6 content">
                <div v-if="activeSite === '#newQ'">
                    <h2>Stelle hier deine Frage:</h2>
                    <form class="form-horizontal"
                          @submit.prevent="createQuestion" >
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="title">Titel:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       id="title"
                                       placeholder="Gib einen Titel ein..."
                                       v-model="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"
                                   for="question">Frage:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="question"
                                          placeholder="Gib deine Frage ein ..."
                                          v-model="question"
                                          rows="7" style="resize: vertical;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn">Abschicken
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div v-if="activeSite==='#allQ'">
                    <h2>Hier findest du alle gestellten Fragen</h2>
                    <p> Klicke auf die Fragen um die gesamte Frage und ihre
                        Antworten zu sehen</p>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle"
                                type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-glass"></span>
                            {{activeDropdown}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li id="alle" class="active"><a href="#"
                                                            @click.prevent="activateDropdown('alle')">alle
                                Fragen</a></li>
                            <li id="unbeantwortet"><a href="#"
                                                      @click.prevent="activateDropdown('unbeantwortet')">unbeantwortete
                                Fragen</a></li>
                            <li id="ungeloest"><a href="#"
                                                  @click.prevent="activateDropdown('ungeloest')">ungelöste
                                Fragen</a></li>
                            <li id="geloest"><a href="#"
                                                  @click.prevent="activateDropdown('geloest')">gelöste
                                Fragen</a></li>
                        </ul>
                    </div>
                    <br>
                    <div class='panel-group'>
                        <question-component
                                v-for="question in questions"
                                :key="question.id"
                                :class="{'panel-primary': question.user === user, 'panel-info': question.user != user}"
                                :active="activeSite"
                                :question="question"
                        ></question-component>
                    </div>
                </div>
                <div v-if="activeSite==='#myQ'">
                    <h2>Hier findest du alle von die gestellten Fragen!</h2>
                    <div class='panel-group'>
                        <question-component
                                v-for="question in filterdQuestions"
                                :key="question.id"
                                :class="{'panel-primary': question.user === user, 'panel-info': question.user != user}"
                                :active="activeSite"
                                :question="question"
                        ></question-component>
                    </div>
                </div>
                <div v-if="activeSite==='#myA'">
                    <h2>Hier findest du alle von dir gegebenen Antworten!</h2>
                    <div class='panel-group'>
                        <question-component
                                v-for="question in questions"
                                :key="question.id"
                                :class="{'panel-primary': question.user === user, 'panel-info': question.user != user}"
                                :active="activeSite"
                                :question="question"
                        ></question-component>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-lg-3"></div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body responsive-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/chk4hgz28DM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    Vue.filter('substring', function (value, size) {
        length = value.length;
        if (length <= size) {
            return value;
        } else {
            kurz = value.substr(0, size);
            return kurz + ' (...)';
        }
    });
    Vue.component('answer-component', {
        template: `
            <a class="list-group-item scroll hover-off">
                <div class="list-group-item-text">
                    <div class="hover-on" style="float: right" href="#" v-if="answer.user===$parent.$parent.user" v-on:click.prevent="$parent.deleteAnswer(answer)">
                        <span class="glyphicon glyphicon-trash" title="Löschen"></span>
                    </div>
                    {{answer.content}}
                </div>
                <div class="list-group-item-footer row">
                    <a class="col-xs-5" style="text-align: left; padding: 0px;">erstellt von <strong>{{answer.user}}</strong></a>
                    <a class="col-xs-2" style="text-align: center; margin: -6px 0px" v-if="answer.accepted"><img class="hover-on"  style="cursor: help;" src="img/banana_open.png" alt="open Banana" height="26px" title="Diese Antwort wurde vom Fragensteller als hilfreich makiert"></a>
                    <a class="col-xs-2" style="text-align: center; margin: -6px 0px;" v-else-if="!answer.accepted  && $parent.$parent.user === $parent.question.user"><img class="hover-on" href="#" v-on:click.prevent="$parent.flagAnswer(answer)" src="img/banana.png" alt="Banana" height="26px" title="Klicke auf die Banane um die Antwort als hilfreich zu makieren"></a>
                    <a class="col-xs-2" v-else></a>
                    <a class="col-xs-5" style="text-align: right; padding: 0px;"><strong>{{creationDate}}</strong></a>
                </div>
            </a>
        `,
        data: function () {
            return {
                creationDate: this.$parent.convertDate(this.answer.creationDate)
            }
        },
        props: ['answer'],

    })

    Vue.component('myanswer-component', {
        template: `
            <a class="list-group-item hover-off" v-if="answer.user === $parent.$parent.user">
                <div class="list-group-item-text">
                    <div class="hover-on" style="float: right" href="#" v-if="answer.user===$parent.$parent.user" v-on:click.prevent="$parent.deleteAnswer(answer)">
                        <span class="glyphicon glyphicon-trash" title="Löschen"></span>
                    </div>
                    {{answer.content}}
                </div>
                <div class="list-group-item-footer row">
                    <a class="col-xs-5" style="text-align: left; padding: 0px;">erstellt von <strong>{{answer.user}}</strong></a>
                    <a class="col-xs-2" style="text-align: center; margin: -6px" v-if="answer.accepted"><img class="hover-on"  style="cursor: help;" src="img/banana_open.png" alt="open Banana" height="26px" title="Diese Antwort wurde vom Fragensteller als hilfreich makiert"></a>
                    <a class="col-xs-2" style="text-align: center; margin: -6px;" v-else-if="!answer.accepted  && $parent.$parent.user === $parent.question.user"><img class="hover-on" href="#" v-on:click.prevent="$parent.flagAnswer(answer)" src="img/banana.png" alt="Banana" height="26px" title="Klicke auf die Banane um die Antwort als hilfreich zu makieren"></a>

                    <a class="col-xs-2" v-else></a>
                    <a class="col-xs-5" style="text-align: right; padding: 0px;"><strong>{{creationDate}}</strong></a>
                </div>
            </a>
        `,
        data: function () {
            return {
                creationDate: this.$parent.convertDate(this.answer.creationDate)
            }
        },
        props: ['answer'],
    })

    Vue.component('question-component', {
        template: `
            <div class="panel">
                <div v-if="!show">
                    <div class="panel-heading">
                        <div class="hover-on" v-if="question.user===$parent.user" style="float: right" href="#" v-on:click.prevent="$parent.deleteQuestion(question)">
                            <span class="glyphicon glyphicon-trash" title="Löschen"></span>
                        </div>
                        {{question.title | substring(50)}}
                    </div>
                    <div class="panel-body">{{question.content |substring(100)}}</div>
                </div>
                <div v-else>
                    <div class="panel-heading">
                        <div class="hover-on" v-if="question.user===$parent.user" style="float: right" href="#" v-on:click.prevent="$parent.deleteQuestion(question)">
                            <span class="glyphicon glyphicon-trash" title="Löschen"></span>
                        </div>
                        {{question.title}}
                    </div>
                    <div class="panel-body">{{question.content}}</div>
                </div>
                <div class="panel-body" v-if="!show && active==='#myA'">
                    <div class="list-group">
                        <myanswer-component
                            v-for="(answer, index) in answers"
                            :key="answer.id"
                            :class="{ 'active': answer.user === $parent.user }"
                            :answer="answer"
                        ></myanswer-component>
                    </div>
                </div>
                <div class="panel-body" v-if="show">
                    <div class="list-group">
                        <div class="scroll">
                            <answer-component
                                v-for="(answer, index) in answers"
                                :key="answer.id"
                                :class="{ 'active': answer.user === $parent.user }"
                                :answer="answer"
                            ></answer-component>
                        </div>
                        <form class="answerbox" @submit.prevent="createAnswer" v-if="$parent.loggedIn">
                            <div class="list-group-item answerbox">
                                <div class="row list-group-item-text">
                                    <textarea class="col-md-10 col-xs-12" id="answer" placeholder="Gib deine Antwort ein ..." v-model="answer"></textarea>
                                    <button type="submit" class="btn col-md-2 col-xs-4">Antworten</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer row panel-self">
                    <a class="col-xs-4 hover-off">erstellt von <strong>{{question.user}}</strong></a>
                    <a class="col-xs-4" style="text-align: center;" href="#" v-on:click.prevent="toggleShow()">
                        Antworten
                        <span v-if="!show" class="glyphicon glyphicon-menu-down"></span>
                        <span v-if="show" class="glyphicon glyphicon-menu-up"></span>
                    </a>
                    <a class="col-xs-4 hover-off" style="text-align: right;"><strong>{{creationDate}}</strong></a>
                </div>
            </div>
        `,
        data: function () {
            return {
                show: false,
                answer: '',
                answers: [],
                creationDate: this.convertDate(this.question.creationDate)
            }
        },
        methods: {
            convertDate: function (item) {
                moment.locale('de');
                return moment(item*1000).format('LLL');
            },
            toggleShow: function () {
                this.getAnswers();
                this.show = !this.show;
            },
            createAnswer: function () {
                console.log("function createAnswer");
                //erstellt eine neue Antwort und sendet sie an den Server
                //Error, falls Input leer
                if (this.answer === '') {
                    alert("Antwortfeld ist leer");
                    return;
                }
                $.ajax({
                    url: 'http://localhost:8080/answers/create',
                    type: 'POST',
                    beforeSend: function(request){
                        var csrfToken;
                        var ca = document.cookie.split(";");
                        for (var i = 0; i < ca.length; ca++) {
                            if (ca[i].indexOf("X-CSRF-TOKEN=") >= 0) {
                                csrfToken = ca[i].split("X-CSRF-TOKEN=")[1];
                            }
                        }
                        request.setRequestHeader("X-CSRF-TOKEN",csrfToken)
                    },
                    xhrFields: {withCredentials: true},
                    data: {content: this.answer, question:
                            this.question.id},
                    success: function () {
                        this.answer = '';
                        this.getAnswers();
                        this.$parent.getQuestions(this.$parent.activeDropdown);
                    }.bind(this),
                    error:function(xhr,error) {
                        if(xhr.status === 500){
                            alert("Die Antwort ist zu lang!");
                        }
                    }
                });
            },
            deleteAnswer: function (answer) {
                console.log("function deleteAnswer");
                //löscht die Antwort
                if (!confirm("Möchtest du diese Antwort wirklich löschen?")){
                    return false;
                }
                $.ajax({
                    url: 'http://localhost:8080/answers/' + answer.id + '/delete',
                    beforeSend: function(request){
                        var csrfToken;
                        var ca = document.cookie.split(";");
                        for (var i = 0; i < ca.length; ca++) {
                            if (ca[i].indexOf("X-CSRF-TOKEN=") >= 0) {
                                csrfToken = ca[i].split("X-CSRF-TOKEN=")[1];
                            }
                        }
                        request.setRequestHeader("X-CSRF-TOKEN",csrfToken)
                    },
                    type: 'DELETE',
                    xhrFields: {withCredentials: true},
                    success: function () {
                        this.getAnswers();
                        if(this.$parent.activeSite==='#allQ') {
                            this.$parent.getQuestions(this.$parent.activeDropdown);
                        }else{
                            this.$parent.getQuestions(this.$parent.activeSite);
                        }
                    }.bind(this)
                })
            },
            flagAnswer: function (answer) {
                //Markiert die Antwort als richtig
                console.log("function flagAnswer");
                if(!confirm("Möchtest du diese Antwort wirklich als hilfreich makieren? Dieser Schritt kann nicht rückgängig gemacht werden!")){
                    return false;
                }
                $.ajax({
                    url: 'http://localhost:8080/answers/' + answer.id + '/accept',
                    type: 'POST',
                    beforeSend: function(request){
                        var csrfToken;
                        var ca = document.cookie.split(";");
                        for (var i = 0; i < ca.length; ca++) {
                            if (ca[i].indexOf("X-CSRF-TOKEN=") >= 0) {
                                csrfToken = ca[i].split("X-CSRF-TOKEN=")[1];
                            }
                        }
                        request.setRequestHeader("X-CSRF-TOKEN",csrfToken)
                    },
                    xhrFields: {withCredentials: true},
                    success: function () {
                        this.getAnswers();
                        this.$parent.getQuestions(this.$parent.activeDropdown);
                    }.bind(this)
                })

            },
            getAnswers: function () {
                console.log("function getAnswers");
                $.ajax({
                    url: 'http://localhost:8080/questions/' + this.question.id + '/answers',
                    type: 'GET',
                    xhrFields: {withCredentials: true},
                    success: function (res) {
                        this.answers = res.sort(function(a, b){return a.creationDate - b.creationDate});
                    }.bind(this)
                })
            },
        },
        watch: {
            question: function() {
                console.log("watcher getAnswers()");
                if(this.$parent.activeSite==='#myA'){
                    this.getAnswers();
                }
            },
            active: function() {
                console.log("watcher show = false");
                this.show = false;
            },
        },
        props: ['active', 'question']
    })

    var app = new Vue({
        el: "#app",
        data: {
            activeSite: '#allQ',
            activeDropdown: 'alle',
            loggedIn: false,
            user: '',
            pwd: '',
            title: '',
            question: '',
            questions: [],
        },
        methods: {
            activateSite: function (item) {
                console.log("function activateSite id:" + item);
                //entfernt die css Klasse aus dem alten activeSite Element,
                //setzt das activeSite auf das angeklickte Element,
                //fügt die active Klasse bei dem neuen Element hinzu.
                $(this.activeSite).removeClass('active');
                this.activeSite = item;

                if (item === '#myA') {
                    this.getQuestions(item);
                } else if (item === '#allQ') {
                    this.activateDropdown('alle');
                } else {
                    this.getQuestions();
                }
                $(this.activeSite).addClass('active');
            },
            activateDropdown: function (item) {
                console.log("function activateDropdown id: " + item);
                //handelt das Dropdown zum Filtern der Fragen
                this.getQuestions(item);
                $('#' + this.activeDropdown).removeClass('active');
                this.activeDropdown = item;
                $('#' + this.activeDropdown).addClass('active');
            },
            signUp: function () {
                console.log("function signUp");
                //an Server senden und erfolgreich Einloggen falls Username noch nicht vorhanden,
                //Fehler zurückmelden falls User bereits vorhanden
                var user = $("#usernameSignUp").val();
                var pwd = $("#userpwdSignUp").val();
                if (user === '' || pwd === '') {
                    alert("Benutzername oder Passwort leer");
                    return;
                }
                $.ajax({
                    url: 'http://localhost:8080/signup',
                    type: 'POST',
                    xhrFields: {withCredentials: true},
                    contentType: 'application/json',
                    data: JSON.stringify({username: user, password: pwd}),
                    success: function (data) {
                        console.log(pwd);
                        console.log(data);
                        if(data === true){
                            this.loginAfterSignUp(user, pwd);
                            this.user= user;
                            alert("Sie sind erfolgreich Registriert");
                        } else {
                            alert("Die Registrierung ist fehlgeschlagen! Der Benutzername ist bereits vergeben!");
                        }

                    }.bind(this),
                    error:function(xhr,error) {
                        if(xhr.status === 400){
                            alert("Die Registrierung ist fehlgeschlagen! Benutzernamen dürfen lediglich folgende Zeichen beinhalten: Klein-/Großbuchstaben, Zahlen, \"_\", \".\", \"-\". Benutzernamen müssen mindestens 4 Zeichen lang sein.");
                        }
                    }
                });
                this.pwd = '';
            },
            loginAfterSignUp: function(username, pwd){
                console.log("function loginAfterSignUp");
                $.ajax({
                    url: 'http://localhost:8080/index.html',
                    type: 'HEAD',
                    xhrFields: {withCredentials: true},
                    headers: {
                        "Authorization": "Basic " + btoa(username + ":" + pwd)
                    },
                    success: function () {
                        this.loggedIn = true;
                        this.user = username;
                        this.activateDropdown('alle');
                    }.bind(this)
                });
            },
            login: function () {
                console.log("function login");
                var user = $("#username").val();
                var pwd = $("#userpwd").val();
                //an Server senden und bei Erfolg: loggedIn = true, Menü einklappen, Form leeren
                if (user === '' || pwd === '') {
                    alert("Benutzername oder Passwort leer");
                    return;
                }
                $.ajax({
                    url: 'http://localhost:8080/index.html',
                    type: 'HEAD',
                    xhrFields: {withCredentials: true},
                    headers: {
                        "Authorization": "Basic " + btoa(user + ":" + pwd)
                    },
                    success: function () {
                        this.loggedIn = true;
                        this.user = user;
                        this.activateDropdown('alle');
                        alert("Login Erfolgreich!")
                    }.bind(this),
                    error: function() {
                        alert("Login failed!")
                    }
                });
                this.pwd = '';
            },
            logout: function () {
                console.log("function logout");
                //an Server senden und bei Erfolg: loggedIn = false, user zurücksetzen
                $.ajax({
                    url: 'http://localhost:8080/logout',
                    type: 'POST',
                    beforeSend: function(request){
                        var csrfToken;
                        var ca = document.cookie.split(";");
                        for (var i = 0; i < ca.length; ca++) {
                            if (ca[i].indexOf("X-CSRF-TOKEN=") >= 0) {
                                csrfToken = ca[i].split("X-CSRF-TOKEN=")[1];
                            }
                        }
                        request.setRequestHeader("X-CSRF-TOKEN",csrfToken)
                    },
                    xhrFields: {withCredentiaquesls: true},
                    success: function () {
                        this.loggedIn = false;
                        this.user = '';
                        alert("Logout Erfolgreich!");
                        this.activateSite('#allQ');
                    }.bind(this)
                });
            },
            createQuestion: function () {
                console.log("function createQuestion");
                //erstellt eine neue Frage und sendet sie an den Server
                //Error, falls Frage oder Titel nicht ausgefüllt
                if (this.title === '' || this.question === '') {
                    alert("Titel oder Frage leer");
                    return;
                }
                $.ajax({
                    url: 'http://localhost:8080/questions/create',
                    type: 'POST',
                    beforeSend: function(request){
                        var csrfToken;
                        var ca = document.cookie.split(";");
                        for (var i = 0; i < ca.length; ca++) {
                            if (ca[i].indexOf("X-CSRF-TOKEN=") >= 0) {
                                csrfToken = ca[i].split("X-CSRF-TOKEN=")[1];
                            }
                        }
                        request.setRequestHeader("X-CSRF-TOKEN",csrfToken)
                    },
                    xhrFields: {withCredentials: true},
                    contentType: 'application/json',
                    data: JSON.stringify({
                        title: this.title,
                        content: this.question
                    }, {user: this.user}),
                    success: function () {
                        this.title = '';
                        this.question = '';
                        this.activateSite('#allQ');
                    }.bind(this)
                });
            },
            deleteQuestion: function (question) {
                console.log("function deleteQuestion");
                //löscht die Frage
                if(!confirm("Möchtest du die Frage wirklich löschen?")){
                    return false;
                }
                $.ajax({
                    url: 'http://localhost:8080/questions/' + question.id + '/delete',
                    beforeSend: function(request){
                        var csrfToken;
                        var ca = document.cookie.split(";");
                        for (var i = 0; i < ca.length; ca++) {
                            if (ca[i].indexOf("X-CSRF-TOKEN=") >= 0) {
                                csrfToken = ca[i].split("X-CSRF-TOKEN=")[1];
                            }
                        }
                        request.setRequestHeader("X-CSRF-TOKEN",csrfToken)
                    },
                    type: 'DELETE',
                    xhrFields: {withCredentials: true},
                    success: function () {
                        if(this.activeSite==='#allQ') {
                            this.getQuestions(this.activeDropdown);
                        }else{
                            this.getQuestions(this.activeSite);
                        }
                    }.bind(this)
                })
            },
            getQuestions: function (item) {
                console.log("function getQuestions param: " + item);
                var part = '';
                if(item === 'alle'){
                } else if (item === '#myA') {
                    part = '/answeredByMe';
                } else if(item != null) {
                    part = '?status=' + item;
                }
                $.ajax({
                    url: 'http://localhost:8080/questions' + part,
                    type: 'GET',
                    xhrFields: {withCredentials: true},
                    success: function (res) {
                        res.forEach(function (e) {console.log(e)});
                        this.questions = res.sort(function(a, b){return b.creationDate - a.creationDate});
                    }.bind(this),
                })
            }
        },
        //Funktion bei Aktualisierung ob User noch eingeloggt ist
        created: function () {
            this.getQuestions();
            $.ajax({
                url:'http://localhost:8080/checkLogin',
                type:'GET',
                beforeSend: function(request){
                    var csrfToken;
                    var ca = document.cookie.split(";");
                    for (var i = 0; i < ca.length; ca++) {
                        if (ca[i].indexOf("X-CSRF-TOKEN=") >= 0) {
                            csrfToken = ca[i].split("X-CSRF-TOKEN=")[1];
                        }
                    }
                    request.setRequestHeader("X-CSRF-TOKEN",csrfToken)
                },
                xhrFields:{
                    withCredentials:true
                },
                success: function(item){
                    if(item ==="") {
                        return false;
                    } else {
                        this.user = item;
                        this.loggedIn = true;
                    }
                }.bind(this)
            });
        },
        computed: {
            filterdQuestions: function () {
                var result = [];
                for (i = 0; i < this.questions.length; i++) {
                    if (this.questions[i].user === this.user) {
                        result.push(this.questions[i]);
                    }
                    ;
                }
                ;
                return result;
            }
        }
    });
</script>
</body>
</html>
