/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.06.2017, 12:09:02
    Author     : Micha
*/

body {
    overflow-y: scroll;
    background-image: url("img/wallpaper.png");
}

.navbar-brand {
    padding: 2px 15px;
}

.navbar {
    border: 0px;
}

.form-group {
    margin: 8px 16px 8px 16px;
}

/*Farben fuer Menue festlegen*/
.background-color,
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.btn {
    padding: 3px 6px;
}

.content {
    background-color: rgba(252, 214, 59, 0.62);
    border-radius: 4px;
    padding-bottom: 10px;
}

.panel {
    border-radius: 4px;
}

.panel-heading {
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.panel-body {
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.panel-footer {
    padding: 12px 0px;
    font-size: 10px;
    font-style: italic;
}

.panel-self {
    margin: 0px;
}

.hover-off {
    pointer-events: none;
}

.hover-on {
    pointer-events: visible;
    cursor: pointer;
}

.list-group {
    margin: 0px;
}

.list-group-item {
    padding: 0px;
}

.list-group-item-text {
    font-size: 16px;
    padding: 10px 15px;
    margin: 0px;
}

.list-group-item:hover {
    background-color: white;
}

.list-group-item-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    font-size: 10px;
    font-style: italic;
    margin: 0px;
}

.scroll {
    max-height: 310px;
    overflow: auto;
}

.scroll.list-group-item:last-child {
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.answerbox.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.answerbox textarea {
    resize: vertical;
    max-height: 150px;
    margin-bottom: 5px;
}

.responsive-video {
    padding-bottom: 56.25%;
    margin: auto;
    position: relative;
    overflow: hidden;
    displax: block;
    height: 0;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}